@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Inconsolata&display=swap');

body {
    font-family: Nunito, sans-serif;
}

/**************************************/
/**************** Root ****************/
/**************************************/
:root {
  --documentation: white;
  --navbar: white;
}

/**************************************/
/*************** Sidebar **************/
/**************************************/
.sidebar {
  border: none;
  background-color: #EDF2F7;
}

.sidebar ul li h2 {
  color: #38B2AC;
}

.sidebar ul li ul li a {
  color: #3182CE;
}

.documentation > ul:first-of-type li {
    border: none;
    line-height: 1.3;
    padding: 0;
}

.documentation > ul:first-of-type li a {
    color: #38B2AC;
    display: block;
    padding: 0.2em 0;
}
.documentation > ul:first-of-type li li a {
    color: #3182CE;
}

.documentation > ul:first-of-type li a::before {
    content: '# ';
}





.documentation.is-dark code[class*=language-],
.documentation.is-dark pre[class*=language-],
.documentation.is-light pre[class*=language-],
.documentation.is-light pre[class*=language-]
{
    font-family: 'Inconsolata', monospace;
}
